@page "/tasklist"
@using SamboPoints.Models;

<h1>Task List</h1>

<input @bind="newTodo" @bind:event="onchange" placeholder="Sambo Task" />
<input @bind="dueDate" placeholder="YYYY-MM-DD" />
<button @onclick="Save">Add</button>

<table>
    <thead>
        <tr>
            <th>Sambo Task</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Todos)
        {
            <tr>
                <td>@item.Todo</td>
                <td>@item.DateAndTime?.ToString("yyyy-MM-dd")</td>
                <td><button @onclick="Edit">Edit</button></td>
            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(newTodo))
{
    <p>@newTodo Due: @dueDate?.ToString("yyyy-MM-dd")</p>
}

@code {

    private List<TodoItem> Todos = new();

    // Create fields for writing todo and date
    private string newTodo = string.Empty;
    private DateTime? dueDate = null;

    // Add them to a list
    private void Save()
    {
        Todos.Add(new TodoItem
            {
                Todo = newTodo,
                DateAndTime = dueDate
            });

        //Also save list items in database

        newTodo = string.Empty;
        dueDate = null;
    }

    private void Edit()
    {

    }
}